*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin:0;
    padding:0;
}

body{
    background-color: beige;
}


h1{
    font-size: 26px;
    color:darkgreen;
    text-align: center;
    text-decoration-line: underline;
}

h3{
    color:darkgreen;
    font-size: 18px;
    text-align:center;
    margin:5px;
}

.recipe-card{
    width: 400px;
    text-align: center;
    background-color: #FFFAFA;
    margin: 30px auto;
    padding: 10px 20px 10px 20px;
    height:100dvh;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
}

.recipe-links{
    text-align: center;
}

.recipe-links a{
    text-decoration: none;
    line-height: 1.5px;
    font-size: 16px;
    margin-right: 10px;
}

.image-header{
    height:auto;
    width:300px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.recipe-description{
  line-height: 15px;  
  text-align: center;
  margin-bottom: 8px;
}

ul.ingredient-list, ol.cooking-list{
    display:inline-block;
    text-align: left;
    line-height: 20px;
}
