*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: beige;
}

.header{
    font-size: 26px;
    color:darkgreen;
    text-align: center;
    text-decoration-line: underline;
}

.subheader{
    color:darkgreen;
    font-size: 18px;
    text-align:center;
}

.recipe-links{
    text-align: center;
}

.recipe-links a{
    text-decoration: none;
    line-height: 1.5px;
    font-size: 16px;
    margin-right: 10px;
}

.image-header{
    height:auto;
    width:300px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.recipe-description{
  line-height: 8.5px;  
  text-align: center;
}

.container{
    text-align:center;
}

ul.ingredient-list, ol.cooking-list{
    display:inline-block;
    text-align: left;

}
