*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:rgb(208, 208, 208);
}


h1{
    font-size: 26px;
    color:darkgreen;
    text-decoration-line: underline;
    margin-bottom: 10px;
}

h3{
    color:darkgreen;
    font-size: 18px;
    margin:5px;
}

.recipe-card{
    width: 1000px;
    background-color:rgb(229, 229, 229);
    padding:30px;
    vertical-align: top;
    margin:auto;
    border:2px solid black;
}

.recipe-content{
    display:inline-block;
    width:400px;
}

.recipe-links{
    text-align: center;
}

.recipe-links a{
    text-decoration: none;
    line-height: 1.5px;
    font-size: 16px;
    margin-right: 10px;
}

.recipe-content{
    padding: 20px;
    display: inline-block;
    width: 450px;
    vertical-align: top;
}

img{
    height:auto;
    width:400px;
    display:inline-block;
}

.recipe-description{
  line-height: 15px;  
  margin-bottom: 8px;
}

ul.ingredient-list, ol.cooking-list{
    display:inline-block;
    text-align: left;
    line-height: 20px;
}

ul{
    list-style-type: none;
}

ol{
    margin-left:15px;
}
